$frogsans: Arial, "Helvetica Neue", Helvetica, sans-serif;
$froggreen: #668134;
$frogblack: #000000;

$breakpoint-small-width: max-width 400px;
$breakpoint-medium-width: max-width 768px;
$breakpoint-large-width: max-width 1111px;
