/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "variables";

$froggreen: #668134;
$frogblack: #000000;

#page {
margin:0 auto;


}

.above-header {
	background-color: #000000;
	display: inline-block;
	height: 175px;
	width: 1225px;
}
.above-header .main-nav  {
	padding: 10px;
		a {
			text-decoration: none;
			color: white;
			line-height: 40px;
		}
	}

#top {

	background-color: $froggreen;
	display: block; 
	width: 1225px;
	height: 160px;
	}
.logo {
	background-image: url ('..images/bullfrog-header.png') ;
	display: block;
	background: no-repeat;
	padding: 30px;	
			
	}
.logo a {
		font-size: 85px;
		color: white ;
		text-decoration: none;
}









