/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "variables";



.above-header {
background :#0000000;
}


#main-nav { 
	a{ 
	color:white;
	text-decoration:none;
	line-height: 40px;
	font-size: 14px;
	padding: 0 24px 0 24px;
	&hover {
		text-decoration:;
body {
  background: red;
}


#headertop {
		background: $froggreen;
		height:
		padding:
		background: url ("../images/bullfrog-header.png") no-repeat right;
			.logo a {

				font-size :72px;
				color: white;
				text decoration: none;
			}
		}

#page {
	margin: 0 auto;

}